label {
  float: left;
  text-align: right;
  width: 120px;
  margin-bottom: 0px !important;
  padding-top: 8px;
  padding-right: 20px;
}

.actions {
  margin-left: 140px;
  margin-top: 20px;
}

.centered-actions{
  text-align: center;
}

.form-field {
  height: 32px;
  input.boolean {
    margin-top: 11px;
    margin-left: 0px;
    float: none !important;
  }
}

.form-border{
  border: 1px solid #222;
  width: 500px;
  margin: 40px auto;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  h2 {
    margin-left: 10px;
  }
}

.bordered {
  float: none;
}

#forgot-pass-link {
  float: right;
  margin-right: 20px;
}

.orange.button {
  background-color: #D26E1E;
}

.nice.orange.button {
  border: 1px solid #D26E1E;
  border-image: initial;
}

.green.button {
  background-color: #21BE50;
}

.nice.green.button {
  border: 1px solid #21BE50;
  border-image: initial;
}